<div data-options="dxView : { name: 'CreateWorkout', title: 'Workout' } " >   
    <div data-bind="dxCommand: { title: 'Cancel', location: 'cancel', icon: 'remove', behavior: 'back', action: workout.handleCancel, showIcon: DXWorkout.isWinPhone }"></div>
    <div data-bind="dxCommand: { title: 'Start', location: 'save', icon: 'runner', action: workout.handleStart, showIcon: DXWorkout.isWinPhone }"></div>

    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="dx-fieldset">         
            <div class="dx-field">
                <div class="dx-field-label">Date</div>
                <div class="dx-field-value" data-bind="dxDateBox: { value: workout.date, format: 'date' }"></div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Time</div>
                <div class="dx-field-value" data-bind="dxDateBox: { value: workout.date, format: 'time' }"></div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Goal</div>
                <div class="dx-field-value" data-bind="dxLookup: { title: 'Select goal', placeholder: workout.goal() || 'select...', value: workout.goal, activeStateEnabled: false }"></div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Notes</div>
                <div class="dx-field-value" data-bind="dxTextArea: { value: workout.notes, rows: 5 }"></div>
            </div>
        </div>
    </div>
</div>
